.fluid-bg {
  background-color: #F4F4F4;
  padding-top: 10px;
  padding-bottom: 10px; }
  .fluid-bg .has-object-fit {
    position: relative; }
    .fluid-bg .has-object-fit .main img {
      width: 100%;
      height: 350px;
      object-fit: cover; }
    .fluid-bg .has-object-fit .btn {
      position: absolute;
      right: 10px;
      bottom: 10px;
      margin-right: 15px;
      background-color: #DD042D;
      display: block;
      color: #fff;
      display: block;
      border-radius: 0;
      height: 48px;
      width: 214px;
      line-height: 2.5;
      border: 1px solid #fff;
      text-transform: uppercase; }
      @media only screen and (max-width: 768px) {
        .fluid-bg .has-object-fit .btn {
          position: relative;
          margin-left: auto;
          margin-right: auto;
          margin-top: 10px;
          right: 0;
          bottom: 0; } }
      .fluid-bg .has-object-fit .btn:after {
        content: "";
        width: 14px;
        height: 14px;
        background-image: url("../img/arrow.png");
        background-repeat: no-repeat;
        top: 17px;
        right: 25px;
        display: inline-block;
        position: absolute; }
    .fluid-bg .has-object-fit p {
      position: absolute;
      display: block;
      color: #02488A;
      text-transform: uppercase;
      font-weight: 200;
      font-size: 16px;
      background: rgba(255, 255, 255, 0.9);
      text-align: center;
      padding: 10px; }
      @media only screen and (max-width: 768px) {
        .fluid-bg .has-object-fit p {
          background-color: transparent;
          position: relative;
          padding: 0;
          padding-top: 10px;
          margin-top: 10px;
          background-color: none; } }
